/* -- Blue Button -- */

.btn-blue {
  background-color: var(--blue);
  transition: ease-out 0.3s;
  font-family: var(--font2);
  letter-spacing: 2px;
  color: #ffffff;
  border: none;
  border-radius: 0px;
  width: 180px;
}

.btn-blue:hover {
  background-color: var(--blue-dk);
  cursor: pointer;
  color: #ffffff;
}

/* -- Clean Button -- */

.btn-clean {
  position: relative;
  padding: 0.8rem 1.5rem;
  padding-left: 2rem;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
}

@media (max-width: 960px) {
  .btn-clean {
    padding: 0.6rem 1.2rem;
    padding-left: 1.5rem;
    letter-spacing: 0.2rem;
    font-size: 12px;
  }
}

.btn-clean:before, .btn-clean:after {
  content: '';
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.btn-clean:hover {
  color: #000;
  transition-delay: .5s;
}

.btn-clean:hover:before {
  transition-delay: 0s;
}

.btn-clean:hover:after {
  background: #fff;
  transition-delay: .35s;
}

.from-left:before, .from-left:after {
  top: 0;
  width: 0;
  height: 100%;
}

.from-left:before {
  right: 0;
  border: 1px solid #fff;
  border-left: 0;
  border-right: 0;
}

.from-left:after {
  left: 0;
}

.from-left:hover:before, .from-left:hover:after {
  width: 100%;
}

/* -- Clean Dark Button -- */

.btn-clean-dk {
  position: relative;
  padding: 0.8rem 1.5rem;
  padding-left: 2rem;
  font-size: 14px;
  color: var(--grey-dk);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
}

@media (max-width: 960px) {
  .btn-clean-dk {
    padding: 0.6rem 1.2rem;
    padding-left: 1.5rem;
    letter-spacing: 0.2rem;
    font-size: 12px;
  }
}

.btn-clean-dk:before, .btn-clean-dk:after {
  content: '';
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.btn-clean-dk:hover {
  color: #fff;
  transition-delay: .5s;
}

.btn-clean-dk:hover:before {
  transition-delay: 0s;
}

.btn-clean-dk:hover:after {
  background: var(--blue);
  transition-delay: .35s;
}

.from-left-dk:before, .from-left-dk:after {
  top: 0;
  width: 0;
  height: 100%;
}

.from-left-dk:before {
  right: 0;
  border: 1px solid var(--blue);
  border-left: 0;
  border-right: 0;
}

.from-left-dk:after {
  left: 0;
}

.from-left-dk:hover:before, .from-left-dk:hover:after {
  width: 100%;
}

