:root {
  --blue: #002E6D;
  --blue-dk: #001c41;
  --grey-dk: #2F2F2F;
  --grey-lt: #F7F7F7;
  --white: #ffffff;
  --font1: 'IowanOldSt BT';
  --font2: 'PF DinText Pro';
}

/* Note : p:12 sub-p:14&16 */

/* -- Start Reset CSS -- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

.container {
  width: 92%;
  max-width: 92%;
  padding: 0px;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -- End Reset CSS -- */

/* -- Focus marker killer -- */

.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

button:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:focus {
  outline: none !important;
}

button:focus {
  outline: none !important;
}

input:focus {
  outline: none !important;
}

.btn:focus {
  box-shadow: none;
}

button:focus {
  box-shadow: none;
}

input:focus {
  box-shadow: none;
}

/* -- End Focus marker killer -- */

/* -- Scroll bar custom -- */

::-webkit-scrollbar {
  width: 5px;
  background: #dedede;
}

::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 10px;
}

/* -- End Scroll bar custom -- */

p {
  font-family: var(--font2);
  font-size: 14px;
  line-height: 20px;
  color: var(--grey-dk);
}

span {
  font-family: var(--font2);
}

main {
  margin-top: 66px;
}

/* -- Heading -- */

h1 {
  font-size: 70px;
  font-family: var(--font1);
}

@media only screen and (max-width: 960px) {
  h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 45px;
  }
}

h2 {
  font-size: 50px;
  font-family: var(--font1);
}

@media only screen and (max-width: 960px) {
  h2 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-size: 30px;
  font-family: var(--font1);
}

@media only screen and (max-width: 960px) {
  h3 {
    font-size: 22px;
    font-family: var(--font1);
  }
}

h4 {
  font-size: 14px;
  font-family: var(--font2);
  font-weight: 500;
}

/* -- Navbar -- */

.site-header {
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  width: 100%;
  background-color: #ffffff;
  -webkit-transition: opacity .3s, visibility .3s;
  -o-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
  z-index: 9999;
  position: fixed;
}

.site-header__nav {
  display: flex;
  background-color: #ffffff;
  height: 66px;
  align-items: center;
  margin: 0 auto;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  font-family: var(--font2);
  z-index: 1;
}

.site-header__nav li > a:hover {
  color: #2F2F2F;
  font-weight: 700;
}

.site-header__nav-left {
  display: block;
}

@media only screen and (max-width: 768px) {
  .site-header__nav-left {
    display: none;
  }
}

.site-header__nav-left-list {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  height: 100%;
}

.site-header__nav-left-item {
  display: flex;
  align-items: center;
  padding: 22px;
  cursor: pointer;
}

.site-header__nav-left-item a {
  color: var(--grey-dk);
  text-decoration: none;
}

.site-header__nav-left-list > li:first-child {
  padding-left: 0px;
}

.site-header__nav-logo {
  display: block;
  margin: auto;
}

.site-header__nav-logo-img {
  height: 38px;
  vertical-align: middle;
  width: auto;
}

.site-header__nav-right {
  display: block;
}

@media only screen and (max-width: 768px) {
  .site-header__nav-right {
    display: none;
  }
}

.site-header__nav-right-list {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  height: 100%;
}

.site-header__nav-right-list > li:last-child {
  padding-right: 0px;
}

.site-header__nav-right-item {
  display: flex;
  align-items: center;
  padding: 22px;
  cursor: pointer;
}

.site-header__nav-right-item a {
  color: var(--grey-dk);
  text-decoration: none;
}

/* -- End Navbar -- */

/* -- Carousel -- */

.carousel-indicatorsx {
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}

#custCarousel .carousel-indicatorsx {
  position: static;
  margin-top: 1px;
}

#custCarousel .carousel-indicatorsx > li {
  width: 70px;
  height: auto;
  border-radius: 50%;
}

#custCarousel .carousel-indicatorsx li img {
  display: block;
  border-radius: 50%;
}

#custCarousel .carousel-indicatorsx li.active {
  opacity: 1;
}

#custCarousel .carousel-indicatorsx li:hover img {
  box-shadow: 0 0 10px #ffffff;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 431px;
  display: block;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-size: cover;
}

#custCarousel ul {
  background-color: var(--grey-lt);
  padding: 10px 0px;
  width: 100%;
}

.caption-warp {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.caption-hero {
  color: var(--white);
  padding: 18px;
}

.list-inline-item {
  margin: 0px 15px;
}

@media only screen and (max-width: 768px) {
  .list-inline-item {
    margin: 0px 3px;
  }
}

.space-down {
  margin: 15px 40%;
  text-align: center;
}

/* -- Carousel End -- */

/* -- Grid -- */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
}

.grid-container > a {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.item1 {
  grid-row: 1 / span 2;
}

.item10 {
  grid-area: 1 / 3 / span 2 / 4;
}

/* -- Responsive grid -- */

@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 768px) {
  .item10 {
    grid-area: 2 / span 1 / 4 / 3;
  }
}

.item-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.items-block {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

.items-block .grid-text {
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 20px 30px;
  top: 50%;
  transform: translate(0, -50%);
}

.grid-title {
  color: var(--white);
  display: block;
}

.grid-title.gt-up {
  font-size: 18px;
  text-align: left;
  font-family: var(--font2);
  letter-spacing: 0.5px;
}

@media only screen and (max-width: 960px) {
  .grid-title.gt-up {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .grid-title.gt-up {
    font-size: 12px;
  }
}

.grid-title.gt-down {
  font-size: 28px;
  text-align: left;
  font-family: var(--font1);
}

@media only screen and (max-width: 960px) {
  .grid-title.gt-down {
    font-size: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .grid-title.gt-down {
    font-size: 18px;
  }
}

.grid-title.gt-mid {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media only screen and (max-width: 960px) {
  .grid-title.gt-mid {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .grid-title.gt-mid {
    font-size: 16px;
  }
}

/* Zoom In Grid */

.grid-container a img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .80s ease-in-out;
  transition: .80s ease-in-out;
  filter: brightness(80%);
}

.grid-container a:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  filter: brightness(55%);
}

/* -- Grid End -- */

/* -- Section page -- */

.section-gutters {
  margin: 20px 0px;
}

.section-search {
  height: 402px;
  vertical-align: middle;
  background-image: url('../../assets/img/Find%20a%20job.png');
  background-size: cover;
}

.section-title {
  line-height: 33px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 0px;
}

@media only screen and (max-width: 768px) {
  .section-title {
    font-size: 14px;
    letter-spacing: 2px;
  }
}

.search-input {
  width: 60%;
  display: flex;
  margin: auto;
  padding: 100px 0px;
}

@media only screen and (max-width: 960px) {
  .search-input {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .search-input {
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
  }
}

.search-input-field {
  padding: 15px 29px;
  font-size: 18px;
  border: none;
  float: left;
  width: 100%;
  font-family: 'PF DinText Pro Light';
  letter-spacing: 2px;
}

@media only screen and (max-width: 768px) {
  .search-input-field {
    padding: 10px 24px;
    font-size: 15px;
    display: block;
    border: none;
    width: 60%;
    text-align: center;
    margin: auto;
    float: none;
    font-family: var(--font2);
  }
}

@media only screen and (min-width: 280px) {
  .section-video-profile video {
    height: 497px;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    display: block;
    justify-content: center;
    position: relative;
    background-image: url('../../assets/img/Video%20profile.png');
    background-size: cover;
  }
}

.section-motto {
  height: 402px;
  position: relative;
  background: linear-gradient(-45deg, #ae8625, #f4ed99, #d2ac47, #edc967, #ae8625);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.section-motto h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.hero-motto {
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #333333;
}

@media only screen and (max-width: 960px) {
  .hero-motto {
    font-size: 38px;
    line-height: 48px;
    padding: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .hero-motto {
    font-size: 32px;
  }
}

/* -- Side option search -- */

.search {
  display: block;
  position: fixed;
  top: 285px;
  right: 10px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .search {
    display: none;
  }
}

.btn-search-expand {
  display: block;
  color: var(--grey-dk);
  /*margin-bottom: 18px;*/
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
}

.btn-search-expand:hover {
  color: var(--grey-dk);
}

.social-trigger {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  background: transparent;
}

.social-trigger a {
  color: #000000;
}

/* -- Side option search End -- */

/* -- Section page End -- */

/* -- Footer start -- */

.section-footer {
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .section-footer {
    margin-bottom: 20px;
  }
}

.footer-basic {
  padding: 30px;
  background-color: #002E6D;
  color: #ffffff;
}

.footer-basic ul {
  list-style: none;
  text-align: center;
  line-height: 1.6;
  font-family: var(--font2);
  font-size: 12px;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.footer-basic li {
  padding: 0 10px;
}

@media only screen and (max-width: 768px) {
  .footer-basic li {
    display: block;
    font-size: 10px;
  }
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  /*opacity: 0.8;*/
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .footer-basic .social {
    padding-bottom: 20px;
  }
}

.footer-basic .social > a {
  font-size: 16px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

@media only screen and (max-width: 768px) {
  .footer-basic .social > a {
    font-size: 12px;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}

.footer-basic .social > a:hover {
  opacity: 1;
}

.footer-basic .copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 10px;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .footer-basic .copyright {
    font-size: 8px;
  }
}

.footer-logo {
  width: 150px;
  height: auto;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

@media only screen and (max-width: 960px) {
  .footer-logo {
    width: 120px;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .footer-logo {
    width: 100px;
  }
}

/* -- Footer start End -- */

/* -- Breadcrumb Navigation -- */

ul.breadcrumb {
  padding: 5px 16px;
  list-style: none;
  background-color: #002E6D;
  border-radius: 0px;
}

@media only screen and (max-width: 768px) {
  ul.breadcrumb {
    padding: 0px 16px;
    vertical-align: middle;
    line-height: 18px;
  }
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: rgb(255,255,255);
  content: "/\00a0";
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  ul.breadcrumb li + li:before {
    font-size: 9px;
  }
}

ul.breadcrumb li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'PF DinText Pro Light';
  font-size: 12px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 768px) {
  ul.breadcrumb li a {
    font-size: 9px;
  }
}

ul.breadcrumb li a:hover {
  color: #9c9c9c;
  text-decoration: none;
}

/* -- Breadcrumb Navigation End -- */

/* -- Group Page -- */

.section-video-group iframe {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  z-index: 0;
  outline: 0;
}

@media only screen and (max-width: 768px) {
  .section-video-group iframe {
    position: relative;
    width: 100%;
    height: 40vh;
    background-size: cover;
    overflow: hidden;
    z-index: 0;
    outline: 0;
  }
}

.section-clean {
  text-align: center;
  position: relative;
  width: 100%;
}

.section-clean-content {
  display: inline-block;
  align-items: center;
  text-align: center;
  width: 60%;
}

.section-image {
  position: relative;
}

.img-section {
  object-fit: cover;
  width: 100%;
  height: 400px;
  display: block;
  overflow: hidden;
  background-size: cover;
}

.section-image-content {
  text-align: center;
  position: absolute;
  width: 60%;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

@media (max-width: 960px) {
  .section-image-content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .section-image-content {
    width: 90%;
  }
}

.section-image-content p {
  color: #ffffff;
}

.section-left-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
}

.section-right-warp {
  background-color: var(--grey-lt);
  position: relative;
}

.section-right-content {
  text-align: center;
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 960px) {
  .section-right-content {
    position: relative;
    width: 85%;
  }
}

.v-line {
  border-left: 1px solid var(--grey-dk);
  border-right: 1px solid var(--grey-dk);
  height: auto;
}

.mini-title {
  font-size: 14px;
}

@media only screen and (max-width: 960px) {
  .mini-title {
    font-size: 10px;
  }
}

.mini-deskrip {
  width: 40%;
  margin: auto;
}

@media only screen and (max-width: 960px) {
  .mini-deskrip {
    width: 60%;
  }
}

.bw-effect {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

/* -- Corporate Culture and Value -- */

.cvv-img {
  width: 100%;
  height: auto;
}

.section-warp-cvv {
  position: relative;
}

.section-clean-cvv {
  width: 70%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 960px) {
  .section-clean-cvv {
    position: relative;
    padding: 3rem 0;
  }
}

@media only screen and (max-width: 960px) {
  .cvv-img-side {
    display: none;
  }
}

/* -- Career -- */

.section-career-search {
  height: 402px;
  vertical-align: middle;
  background-image: url(../../assets/img/find-job.png);
  background-size: cover;
  position: relative;
}

.search-warp {
  position: absolute;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-input-career {
  width: 60%;
  display: flex;
  margin: auto;
  padding: 50px 0px;
}

@media only screen and (max-width: 960px) {
  .search-input-career {
    width: 100%;
    display: block;
    margin: auto;
    padding: 50px 0px;
  }
}

.section-title-career {
  text-align: center;
}

/* -- Jobs for You -- */

.section-career-jobs {
  height: 180px;
  vertical-align: middle;
  background-image: url(../../assets/img/find-job.png);
  background-size: cover;
  position: relative;
}

.link-job {
  color: var(--grey-dk);
}

.link-job:hover {
  color: var(--grey-dk);
}

.warp-career-jfy {
  vertical-align: middle;
  width: 100%;
  background-color: var(--grey-lt);
}

@media only screen and (max-width: 960px) {
  .warp-career-jfy {
    display: flex;
  }
}

.jfy-img {
  width: 30%;
  object-fit: cover;
}

.jfy-content {
  padding: 10px;
  width: 100%;
}

/* -- Job detail -- */

.via-email {
  padding: 40px 0px;
}

.via-email-mail {
  font-size: 18px;
  color: var(--blue);
}

.via-email-linkedin {
  font-size: 18px;
  color: var(--blue);
}

.medsos-link {
  font-size: 28px;
}

.medsos-link a {
  color: var(--grey-dk);
  padding: 5px;
}

.medsos-link a:hover {
  color: #585858;
}

/* -- Growth & Development -- */

.gd-img {
  width: 100%;
  height: auto;
}

.contact-p {
  font-size: 16px;
  font-family: var(--font2);
}

/* -- Bussiness line -- */

.bl-bgcolor {
  background-color: var(--blue);
}

.bl-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
}

.section-color-warp {
  position: relative;
  background-image: url(../../assets/img/blue-blank.png);
}

.section-clear-warp {
  position: relative;
  background-image: url(../../assets/img/white-blank.png);
}

.section-clear-content {
  text-align: center;
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

/* -- Bussiness detail -- */

.buss-banner {
  position: relative;
}

.buss-banner img {
  object-fit: cover;
  background-size: cover;
  width: 100%;
  max-height: 400px;
}

.buss-banner-bar {
  background-color: var(--grey-lt);
}

.buss-detail-dsk {
  width: 100%;
  text-align: center;
  height: 100vh;
}

.buss-item-warp {
  padding: 20px;
  text-align: right;
  vertical-align: middle;
}

.buss-banner-link {
  font-size: 28px;
  padding-right: 20px;
  color: var(--grey-dk);
}

@media only screen and (max-width: 960px) {
  .buss-banner-link {
    font-size: 18px;
    padding-right: 10px;
  }
}

.buss-banner-link:hover {
  color: var(--grey-dk);
}

.buss-banner-medsos {
  display: inline-block;
}

.buss-banner-medsos svg {
  padding: 6px;
  width: 30px;
  height: 30px;
  text-decoration: none;
  border-radius: 30%;
  margin: 5px 2px;
  color: #ffffff;
  background-color: var(--grey-dk);
}

.buss-banner-medsos svg:hover {
  color: #828282;
}

.middle-brand {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-brand {
  opacity: 1;
  display: block;
  /*width: 100%;*/
  /*height: auto;*/
  transition: .5s ease;
  backface-visibility: hidden;
}

.warp-brand {
  position: relative;
  /*width: 50%;*/
}

.warp-brand:hover .img-brand {
  opacity: 0.3;
}

.warp-brand:hover .middle-brand {
  opacity: 1;
}

/* -- Store location -- */

.section-store-search {
  height: 402px;
  vertical-align: middle;
  background-image: url(../../assets/img/store.png);
  background-size: cover;
  position: relative;
}

/* -- filter -- */

.show {
  display: block;
}

.container {
  /*margin-top: 20px;*/
  overflow: hidden;
}

/* Style the buttons */

.btn-filter {
  padding: 10px;
  box-sizing: border-box;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.25em;
  color: var(--grey-dk);
}

.btn-filter:hover {
  background-color: var(--grey-lt);
}

.btn-filter.active {
  background-color: var(--blue);
  color: white;
}

.detail-frame {
  text-align: center;
  color: #000000;
}

.detail-frame span {
  font-size: 14px;
}

.detail-frame h1 {
  font-size: 18px;
  padding-bottom: 10px;
}

.store-loc {
  display: none;
}

.show {
  display: block;
}

/* -- Search overlay -- */

.modal {
  /*background-color: #ffffff;*/
}

.btn-close-src {
  color: #ffffff;
}

.btn-close-src:hover {
  color: var(--bs-gray-500);
}

.modal-content {
  background-color: rgba(0,0,0,0.8);
  height: 90vh;
}

.modal-body {
  margin-top: 3.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  top: 50%;
  transform: translate(0, -50%);
}

.modal-body input[type=text] {
  background-color: rgba(0,0,0,0.0);
  border: none;
  border-bottom: solid 1px #ffffff;
  width: 100%;
  font-size: 62px;
  font-family: var(--font1);
  color: #ffffff;
}

.search-modal-input-warp {
  display: inline-flex;
  width: 100%;
}

.search-modal-warp {
  display: inline-block;
  padding-top: 10px;
}

.search-modal-link {
  /*background-color: #ddd;*/
  font-size: 12px;
  letter-spacing: 3px;
  font-family: var(--font2);
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  text-align: left;
  text-decoration: none;
  display: block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.search-modal-link:hover {
  color: var(--bs-gray-500);
}

.search-close-warp {
  color: #ffffff;
}

.modal-body .btn-close {
}

